<style>
    body {
      padding:80px 180px;
      background-image: url("img/ocean.jpg");
      background-repeat: no-repeat;
      background-size: cover;
     
    }
    h1 {
      text-align: center;
    }
    #container {
      box-sizing: border-box;
      border-radius: 50px;
      text-align: center;
      background-color: rgb(201, 198, 198);
      padding: 25px;
    }
    .input-div {
      display: inline-block;

    }
    .inp {
      padding: 10px 15px;
      font-size: 30px;
      font-weight: 400;
      margin: 10px;
      width: 250px;
      text-align: center;
    }
    label {
      font-size: 45px;
      font-family: 'Poppins', sans-serif; 
      font-style: italic;
    }

  </style>
